
# Virtual environments

venv/
.venv/
.env/


# Python cache

__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/


# Ignore all training artifacts

artifacts/raw_data/
artifacts/cleaned_data/
artifacts/embeddings/
artifacts/clustering/
artifacts/tmp/
artifacts/models_backup/


# Allow ONLY final inference artifacts

!artifacts/vector_index.faiss
!artifacts/cluster_summaries.json
!artifacts/sentence_transformer/**
!artifacts/summarizer_model/**

# Notebooks (training only)

*.ipynb
notebooks/


# Datasets (too large for GitHub)

*.csv
*.json
*.xlsx
datasets/
data/


# OS / editor files

.DS_Store
Thumbs.db
