
venv/
.env/


__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/


artifacts/*
!artifacts/raw_data/
!artifacts/cleaned_data/
!artifacts/embeddings/
!artifacts/clustering/
!artifacts/summaries/
!artifacts/models/

# Local datasets too large for GitHub
artifacts/raw_data/Electronics_5\ 2.json


.DS_Store
